#projects{
    width: auto;
    margin-right: 0px;

    box-shadow: 0px 0px 5px rgba(34,34,34,0.6);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    justify-content: center;
}

#projectheader{
    display: flex;
    align-items: center;

    padding-left: 20px;

    box-shadow: 0px 1px 1px black;
}

#projectlist > div{
    display: flex;
    align-items: center;

    padding-left: 20px;
}

#addproject{
    margin-left: auto;
    margin-right: 20px;
}

#projectlist > button{
    background-color: transparent;
    border: none;

    text-align: left;
    padding-left: 20px;

    transition: box-shadow .15s ease-in-out;
}

#projectlist > button:hover{
    box-shadow: 0px 0px 5px rgba(34,34,34,0.6);

    transition: box-shadow .15s ease-in;
}

#projectlist{
    display: grid;

    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
}